.container {
  max-width: 480px;
  padding-top: 180px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
