.container {
  padding-top: 120px;
  padding-left: 380px;
  display: flex;
  height: 77vh;
}

.list__container {
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  padding: 0;
}

.list__element {
  text-decoration: none;
  display: flex;
  color: white;
  padding: 20px 0;
  width: max-content;
}

.notation__container {
  width: 320px;
  height: 48px;
}
