.header {
  box-sizing: border-box;
  display: flex;
  max-width: 1920px;
  height: 88px;
  padding: 16px 320px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #1C1C21;
}

.nav {
  display: flex;
}

.navLinkList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.navLinkContainer {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  padding-right: 177px;
  padding-top: 3px;
}
